#### 파이썬 기초에서 중점적으로 다뤄야 할 개념
1. if-elif-else문: 전처리 시 문자열 카테고리 값을 숫자로 변환
2. for문에 리스트 활용: 파라미터 값을 리스트에 담아 for문을 사용하며 각 파라미터를 적용함
3. 리스트 append: 파라미터 조정하며 얻은 결과 값을 성능 리스트에 append 해야 함

#### 판다스 기초에서 중점적으로 다뤄야 할 것
1. 데이터를 파악하는 기초적인 개념들 value_counts(), descibe() 등
2. 데이터 삭제, 열 이름 변경-> 전처리 시 필요 예상
3. 데이터프레임을 다루는 능력-> 열과 열, 열과 타겟 간의 관계를 파악
-> 새로운 데이터 셋을 과제로 주어 위 3가지 연습! (ex 여러 질문들이 담긴 과제 수행-보데분 과제 예시)

#### 데이터 분석 과정에 필요한 내용들 
1. 데이터 파악 과정
- value_counts(), describe() 등 기초 개념
- corr()를 통한 상관관계 확인
- 조건에 맞는 데이터 추출 능력
2. 전처리
- if-elif-else문을 통한 문자열 숫자로 바꾸기
- 데이터 열 삭제 
- 열 이름 변경

++ 모델링 과정: for문에 리스트 활용, 리스트 append

#### 머신러닝 개념
머신러닝(Machine Learning)은 인공지능의 분야의 하나로써 기존 컴퓨터 시스템이 미리 정해 놓은 알고리즘에 따라서 작동하는 것과 다르게 기계 스스로 패턴 및 추론을 거쳐 작업을 할 수 있는 알고리즘 및 통계 모델과 관련한 연구입니다. 머신 러닝에 기반한 알고리즘은 예측 또는 결정을 하기 위한 ‘훈련 데이터’를 기반으로 수학적인 모델을 구축하며 이러한 점은 기존의 프로그래밍과 구별되는 점입니다.

  즉 쉽게 이야기 하면 기계에 많은 데이터를 주고, 이를 처리할 수 있는 최소한의 모델을 부여한 뒤 일정 시간 훈련을 시킵니다. 그렇게 되면 기계는 스스로 학습을 하고, 데이터, 모델, 훈련시간이 더해져 자신이 학습한 지식을 다른 영역에도 적용 가능할 수 있도록 발전하는 것입니다.

### 선형회귀(Linear Regression) 모델링
https://hleecaster.com/ml-linear-regression-concept/
https://rebro.kr/185

머신 러닝의 가장 큰 목적은 실제 데이터를 바탕으로 모델을 생성해서 만약 다른 입력 값을 넣었을 때 발생할 아웃풋을 예측하는 데에 있다.

이때 우리가 찾아낼 수 있는 가장 직관적이고 간단한 모델은 선(line)이다. 그래서 데이터를 놓고 그걸 가장 잘 설명할 수 있는 선을 찾는 분석하는 방법을 선형 회귀(Linear Regression) 분석이라 부른다.

예를 들어 키와 몸무게 데이터를 펼쳐 놓고 그것들을 가장 잘 설명할 수 있는 선을 하나 잘 그어놓게 되면, 특정 인의 키를 바탕으로 몸무게를 예측할 수 있다.

y = mx + b

기울기 m, 절편 b에 따라 그 선의 모양이 정해지기 때문에 x를 넣었을 때 y를 구할 수 있다. 선형 회귀 분석의 목적도 결국 우리가 가진 데이터를 가장 잘 설명할 수 있는 최고의 m과 b를 얻는 것이다. 이때 최고의 선은 실제 데이터와 선을 그어 얻은 데이터 간의 오차가 최소가 되도록 할 때이다. 만약 독립 변수 x가 1개라면 단순 선형 회귀라고 하고, 2개 이상이면 다중 선형 회귀라고 한다. 

파이썬을 이용하여 선형 회귀 분석을 직접 진행하고자 한다. 데이터셋에서 타겟 변수를 설정하고, 데이터셋을 학습하여 타겟을 가장 잘 설명하는 선형 회귀식을 도출한다.

### 중고거래 게시판에 작성된 포스팅 데이터를 이용한 데이터 분석 및 이미지 수 예측 선형 회귀

#### 기초 데이터 파악

In [59]:
import pandas as pd

In [60]:
df=pd.read_excel("Fraud_10000-1.xlsx")

In [61]:
df.columns

Index(['serial', 'fraud', 'day', 'membership', 'img_count', 'price',
       'len_title', 'len_text'],
      dtype='object')

#### 열에 관한 설명은 아래와 같습니다.

- serial: 포스팅 식별번호
- fraud: 0은 정상글, 1은 사기글
- day: 글 작성 요일 (1부터 월요일, 7이 일요일)
- membership: 회원 등급
- img_count: 포스팅에 작성된 이미지의 수
- price: 판매자가 게시한 가격
- len_title: 포스팅의 제목 길이
- len_text: 포스팅의 글 길이

In [62]:
df

      serial  fraud  day membership  img_count   price  len_title  len_text
0      19086      0    2     Silver          9  260000         29       186
1      45553      0    6     Bronze          9  190000         32       100
2      74087      0    5     Silver         11  150000         14        33
3     101237      0    2     Silver          6    7777         12        83
4      95888      0    1     Silver        315    2000         14      6679
...      ...    ...  ...        ...        ...     ...        ...       ...
9995   75279      0    2    Premium          6  110000         37       582
9996     696      0    5     Silver         13    2000         30       494
9997   73280      0    2    Premium          4   17600         18       220
9998   45212      0    4     Silver         11  150000          7        33
9999  121915      1    5     Bronze          4  220000          9       109

[10000 rows x 8 columns]

In [63]:
df.head()

   serial  fraud  day membership  img_count   price  len_title  len_text
0   19086      0    2     Silver          9  260000         29       186
1   45553      0    6     Bronze          9  190000         32       100
2   74087      0    5     Silver         11  150000         14        33
3  101237      0    2     Silver          6    7777         12        83
4   95888      0    1     Silver        315    2000         14      6679

In [64]:
df.tail()

      serial  fraud  day membership  img_count   price  len_title  len_text
9995   75279      0    2    Premium          6  110000         37       582
9996     696      0    5     Silver         13    2000         30       494
9997   73280      0    2    Premium          4   17600         18       220
9998   45212      0    4     Silver         11  150000          7        33
9999  121915      1    5     Bronze          4  220000          9       109

In [65]:
df.describe()

,serial,fraud,day,img_count,price,len_title,len_text
count,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000
mean,70552.041400,0.231200,3.963900,21.417900,3.762313e+05,25.220500,539.706700
std,40728.433926,0.421621,2.063255,88.709617,1.736910e+06,15.060271,2098.945413
min,31.000000,0.000000,1.000000,3.000000,2.000000e+03,2.000000,0.000000
25%,35469.500000,0.000000,2.000000,7.000000,1.500000e+04,15.000000,89.000000
50%,69953.000000,0.000000,4.000000,9.000000,7.000000e+04,22.000000,164.000000
75%,106126.750000,0.000000,6.000000,13.000000,2.600000e+05,32.000000,296.000000
max,141053.000000,1.000000,7.000000,2293.000000,1.000000e+08,140.000000,32767.000000

### 전처리

데이터 전처리는 기존의 데이터를 머신러닝 알고리즘에 알맞는 데이터로 바꾸는 과정이다.

https://davinci-ai.tistory.com/15

#### 1. 데이터 Cleaning
1) 결측값 처리

대부분의 머신러닝 알고리즘은 결측값이 있을 때 제대로 역할을 하지 못하므로 결측값을 처리해주어야 한다.

In [66]:
df.isnull().sum()
#결측값 없음 확인

serial        0
fraud         0
day           0
membership    0
img_count     0
price         0
len_title     0
len_text      0
dtype: int64

2) 필요없는 열 drop

타겟과의 연관성이 없는 열의 경우 학습에 방해가 될 수 있기 때문에 제거해야 한다. 

이 데이터셋의 경우 'serial'열은 단지 포스팅 식별번호일 뿐 타겟인 이미지 수와 전혀 연관이 없는 열이므로 제거해야 한다,

In [67]:
df=df.drop(columns='serial')

In [68]:
df.columns
#제거 후 잘 처리되었는지 확인하는 것 중요

Index(['fraud', 'day', 'membership', 'img_count', 'price', 'len_title',
       'len_text'],
      dtype='object')

++3) 이상값처리?

#### 2) 문자 데이터 handling
대부분의 머신러닝 알고리즘은 숫자 데이터로 학습하는 것을 선호하며 데이터에 문자가 존재하는 경우 이를 숫자형 데이터로 변환해주어야 한다.

In [69]:
#1 factorize() 이용
df['membership'].factorize()

(array([0, 1, 0, ..., 4, 0, 1], dtype=int64),
 Index(['Silver', 'Bronze', 'NoLevel', 'Gold', 'Premium', 'VIP'], dtype='object'))

In [70]:
#2 파이썬 if,def,apply 이용
def changename(feature):
    if 'Silver' in feature:
        feature=1
    elif 'Bronze' in feature:
        feature=2
    elif 'Premium' in feature:
        feature=3
    elif 'Gold'in feature:
        feature=4
    elif 'NoLevel'in feature:
        feature=5
    else:
        feature=6
    return feature
    
df['membership']=df['membership'].apply(changename)

In [71]:
#변환 후 잘 처리되었는지 및 분포 확인
df['membership'].value_counts()

1    8165
2    1279
3     335
4     216
5       4
6       1
Name: membership, dtype: int64

++ 원핫인코딩 개념?

### 선형회귀 적용

#### 데이터 셋 분리
모델의 성능 측정:주어진 데이터를 학습하여 타겟을 예측하는 모델을 생성한 뒤 새로운 데이터의 타겟을 예측

-> 주어진 데이터를 train, test 셋으로 분류하여 train 데이터를 학습하여 모델을 생성한 뒤, test 셋의 타겟을 예측하고 실제 test 셋의 타겟과 비교하여 모델의 성능을 평가할 예정

In [72]:
#데이터셋 분할을 위해 train_test_split 함수를 이용
from sklearn.model_selection import train_test_split

In [73]:
X_features=df.drop(columns='img_count')
X_train, X_test, y_train, y_test= train_test_split(X_features, df['img_count'], random_state=42)
#X는 타겟을 뺀 나머지 열, y는 타겟(이미지 개수)
#train_test_split함수를 통해 train,test 셋 분리 75:25 비율

#### 회귀 모델 적용

In [74]:
#알고리즘 선택-LinearRegresion 임포트
from sklearn.linear_model import LinearRegression

In [75]:
lr = LinearRegression().fit(X_train, y_train)
#train 데이터셋을 가지고 모델을 만드는 것
#LinearRegression 모델이 만들어져 변수 lr에 저장됨

In [76]:
print("number of coefficients:", len(lr.coef_))
print("lr.coef_:", lr.coef_) 
print("lr.intercept_:", lr.intercept_)
print("Training set score: {:.2f}".format(lr.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lr.score(X_test, y_test)))

number of coefficients: 6
lr.coef_: [-4.87185185e-01  1.05715164e+00 -1.81179652e+00 -5.67507018e-07
  1.72501089e-01  2.83246192e-02]
lr.intercept_: 0.200523644238924
Training set score: 0.48
Test set score: 0.44

타겟 이외의 열들의 개수가 여러 개이므로 다중 선형 회귀임. 각 열들에 대한 기울기는 coefficient라고 하며 lr.coef_에 저장되어 있다. 절편은 lr_intercept에 저장되어있다. 

train 데이터를 학습하여 train데이터와 test 데이터에 타겟 예측을 진행하였고 이에 대한 정확률은 score 함수를 통해 확인할 수 있다. 위에서는 train에 대해서는 0.48, test에 대해서는 0.44의 정확률을 보인다.........

..내가 안한건 이상치 처리랑 원핫인코딩바께 없는데 왤케 ..성능이...이렇죠...?.....?ㅠ.........